.title{
    font-size: 25px;
    border-radius:10px ;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.sb{
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}
h2{
    background-color: green;
    width: 42%;
    color:white ;
    padding: 4px;
    font-size: 20px;
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    


}
P{
    text-transform: uppercase;
    border: 2px solid black;
    width: max-content;
    padding: 3px;
    border-radius: 3px;
    background-color: grey;
    color: darkmagenta;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    text-decoration: underline;
}
img{
    width: 150px;
    height: 200px;
}