
*{
    margin: 0;
    padding: 0;
    
}
/*:root{
    --dark-black:#030303;
    --pure-white:#ffffff;
    --sky-blue:#0d6efd;
    --grey:#686868;
    --h1-font:7rem;
    --h2-font:3.2rem;
    --h3-font:2.8rem;
    --h4-font:2.4rem;
    --font-20px:2rem;
    --h5-font:1.8rem;
    --p-font:1.6rem;
    --font-segoe-UI:'Segoe UI';
    

}*/
nav{
    background-color: black;
    font-size: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;

}
nav li{
    display: inline-block;
    margin: 0 8px;

}
nav a{
    text-decoration: none;
}
.logo{
    font-size: 36px;
    font-weight: bolder;

}
.menu-line{
    height: 3px;
    width: 20px;
    background-color: blue;
    margin-bottom: 3px;
}
.menu{
    display: none;
    cursor: pointer;
}
@media all and (max-width:640px){
    nav{
        flex-direction: column;
        
    }
    nav li{
        display: block;
        padding: 10px 0;
    }
    ul{
        text-align: center;
        padding: 0;
        display: none;
        
        
    }
    .logo{
        align-self: flex-start;
        margin: 10px 0px 0px 30px;
    }
    .menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }
    .showmenu{
        display: block;
        
    }
}
nav a:hover{
    
    border-bottom: 2px solid blue;
    transition: .5s ease-in;
}

